.home {
  padding: 0 5vw;
  min-height: 100vh;
  width: 100%;
  gap: 20px;
  @include center(center, space-between);
  &_text {
    width: 45%;
    gap: 20px;
    @include center(flex-start, center, column);
    h2 {
      font-weight: 400;
      font-size: 54px;
    }
    h3 {
      i {
        color: var(--green-5);
      }
    }
    h5 {
      mark {
        font-weight: 500;
      }
    }
    p {
      font-size: 18px;
    }
  }
  img {
    width: 40%;
  }
  &.products img {
    width: 35%;
  }
}

@media screen and (max-width: 999px) {
  .home {
    padding: 0 0;
    background: url(../assets/home-bg.jpg) no-repeat left center;
    background-size: cover;
    &_text {
      padding: 15px 10px;
      width: 100%;
      color: #fff;
      backdrop-filter: blur(5px);
      h2 {
        font-weight: 400;
        font-size: 2em;
      }
    }
    img {
      width: 70%;
      display: none;
    }

    &.products {
      @include center(center, center, column);
      background: #fff;
      h2,
      p {
        color: #000;
      }
      img {
        display: block;
      }
    }
  }
}
